# 1 ---- Establish a custom 404 File not Found page ----

ErrorDocument 404 /404-page.html

# 2 ---- Prevent directory file listing in all of your folder ----

Options -Indexes

# 3 ---- Make pages render without their extension ----

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
